'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'hotel_db',
        'USER': 'hotel_user',
        'PASSWORD': 'hotel_password',
        'HOST': 'localhost',
        'PORT': '5432',

SECRET_KEY = 'django-insecure-u1vbc$a#4r8q2r(bkq-bu=yl4$cba_h8aa1cnzshcjb3q+fh2$'
